
@import url("Estilos/header.css");
@import url("Estilos/sobrenos.css");
@import url("Estilos/dados.css");
@import url("Estilos/vagas.css");
@import url("Estilos/colaboradores.css");

:root{
    --branco: #FFFFFF;
    --fonte-principal: 'Inter';
    --preto: ;
    --cinza--claro: #667085;
    --cinza--escuro: #101828;
    --vinho: #8E2424
}

body{
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}